// [[ Psomagen Bulk RNA-Seq Pipeline Config ]]
// Analogous to utdal/Bulk-RNA-Seq-Nextflow-Pipeline
// Uses HISAT2 aligner with Trimmomatic adapter/quality trimming

params.proj_name = 'Psomagen-Bulk-RNA-Analysis'
params.species = 'Human'  // human/Human/HUMAN, mouse/Mouse/MOUSE, rattus/Rattus/RATTUS and others

params.config_directory = '/path/to/pipeline/working/directory'
params.fastq_files = '/path/to/raw/fastq/files'
params.samples_file = '/path/to/rna_seq_samples.txt'

// Threading
params.fastqc_cores = 20

// HISAT2 index (prefix path, not directory)
params.hisat2_index = '/path/to/HISAT2_index/gencode48'
params.reference_gtf = '/path/to/gencode.v48.primary_assembly.annotation.gtf'

params.exclude_bed_file_path = '/path/to/filter.bed'
params.blacklist_bed_file_path = '/path/to/blacklist.bed'

params.paired_end = true  // Set to true for paired-end, false for single-end
// Psomagen naming convention: samplename_1.fastq.gz, samplename_2.fastq.gz
params.read1_suffix = "_1"
params.read2_suffix = "_2"

// Trimmomatic parameters
params.illumina_clip_file = '/path/to/NexteraPE-PE.fa'
params.headcrop = 10
params.leading = 3
params.trailing = 3
params.slidingwindow = '4:15'
params.minlen = 36
params.illuminaclip_params = '2:30:10:5:true'

// #########################################################################################################################################
// #########################################################################################################################################

// Strand/count parameters
params.strand_st = '--rf'  // StringTie: --fr or --rf, read more: https://ccb.jhu.edu/software/stringtie/index.shtml?t=manual
params.strand_hts = 'reverse'  // HTSeq: yes, no or reverse, read more: https://htseq.readthedocs.io/en/release_0.11.1/count.html
params.paired_hts = 'pos'  // HTSeq: name or pos, read more: https://htseq.readthedocs.io/en/release_0.11.1/count.html

// Phase control
params.run_fastqc = false
params.run_rna_pipeline = false

// #########################################################################################################################################
// #########################################################################################################################################
